.container {
    text-align: center;
    padding: 50px;
  }
  
  .heading {
    color: #031223;
  }
  
  .link {
    color: #0070f3;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
    color: aquamarine;
  }
  .link:visited {
    text-decoration:wavy;
    color: rgb(29, 26, 223);
  }